<p>
  Nome: {{ message.nome }} </br>
  CPF: {{ message.cpf }} </br>
  RE/Matrícula: {{ message.reOuMatricula ? message.reOuMatricula : 'Não informado'}} </br>
  Telefone: {{ message.telResidencial ? message.telResidencial : 'Não informado'}} </br>
  Celular: {{ message.telCelular }} </br>
  E-mail: {{ message.email }} </br>
  Motivo: {{ message.motivo }} </br>
  Mensagem: {{ message.mensagem }}
</p>
