<mjml>
  <mj-body>
    <mj-section background-color="#000000" padding="0px">
      <mj-column>
        <mj-image src="https://i.imgur.com/C1H2lvP.jpg" href="{{url}}" padding="0px"></mj-image>

        <mj-image src="https://i.imgur.com/t3S7y6x.png" padding="0px"></mj-image>
      </mj-column>

    </mj-section>
  </mj-body>
</mjml>
